<mat-toolbar>
  <span>ConnectCampus</span>
</mat-toolbar>
<mat-sidenav-container class="sidebar-container">
  <mat-sidenav mode="side" opened class="sidebar">
    <mat-nav-list role="navigation">
      <h3 matSubheader>Content</h3>
      <a mat-list-item>
        Posts
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-card *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" class="card">
      {{i}}
    </mat-card>
  </mat-sidenav-content>
  <mat-sidenav mode="side" opened class="sidebar" position="end">
    Firebase
  </mat-sidenav>
</mat-sidenav-container>
